body{
   background-color:black;
}
.round-image{
    border-radius:50%;
    width:200px;
    height:200px;
}

.image-x{
    width:200px;
    height:200px;
    margin:20px;
}

.br-10px{
    border-radius:10px;
}

.br-5px{
    border-radius:5px;
}

.br-15px{
    border-radius:15px;
}


.resp-img{
    width:100%;
    height:auto;
}

.op-five{
    opacity:0.5;
}
.op-two{
    opacity: 0.2;
}

.op-eight{
    opacity: 0.8;
}

.op-one{
    opacity:1;
}