@import url('https://vaspacx-component.netlify.app/avatar.css');
@import url('https://vaspacx-alert.netlify.app/alert.css');
@import url('https://button-card-vaspacx.netlify.app/button.css');
@import url('https://vaspacx-input-image.netlify.app/image.css');

body{
    background-color:rgb(0, 0, 0);
    color:white;
    margin:0;
    height:auto;
    font-family: 'Manrope', sans-serif;
  }
  
  * {
    box-sizing: border-box;
    --avatar-s-x:50px;
    --avatar-md-x:80px;
    --avatar-lg-x:120px;
    --green-color:rgb(52, 247, 4);
    --bg-color:black;
    --avatar-font-color:white;
    --lg-green-color:rgb(128, 211, 125);
    --red-color:red;
    --bg-secondary-color:#2c303a;
    --primary-color:#3a7ce3;
     --secondary-color:rgb(0,0,0);
     --font-color:rgb(255,255,255);
     --grey-color: #4e4343;
  }