.h1-heading{
    text-align:center;
    font-size:50px;
}

.clr-blue{
    color:var(--primary-color);
    }

    .para{
        line-height: 27px;
        word-spacing: 3px;
        letter-spacing: 1px;
        font-size: 18px; 
    }

    .md-sz{
        font-size: 22px;
        letter-spacing: 3px;
        word-spacing: 4px;
        line-height: 42px;
    }

    .bold-grey-text {
        color: var(--lightGrey);
        font-weight: 600;
    }

    .bold-white-txt{
        color:var(--font-primary);
        font-weight:600;
    }

    .para-cont{
        width:50%;
        height:auto;
    }

     .stacked-list{
        list-style: none;
    display: flex;
    margin: 0;
    background-color: var(--secbg-color);
    cursor: pointer;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    justify-content: center;
    gap: 7px;
    letter-spacing: 1px;
    }